version: 2.1

orbs:
  newhighsco: newhighsco/orb@1.14.0

workflows:
  version: 2
  test_and_release:
    jobs:
      - newhighsco/setup:
          name: setup
      - newhighsco/build:
          name: build
          requires:
            - setup
          path-to-persist: packages/yarn-plugin-preset/bundles
      - newhighsco/test:
          name: test
          requires:
            - build
      - newhighsco/release:
          name: release
          command: GITHUB_ASSETS=bundles yarn multi-semantic-release
          requires:
            - test
          filters:
            branches:
              only:
                - main
